.backgroundProdutos{
   background-color: #f1f1f1 !important;
   background-image: url("https://i.imgur.com/rQq9STi.png");
   height: 100vh;
}

.text-decoration-none{
    text-decoration: none;
}

.fotoProduto {
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
}
.btnAtualizar{
    font-family: 'Jacques Francois'!important;
    color: #f1f1f1!important;
}
.btnDeletar{
    font-family: 'Jacques Francois'!important;
    color: #f1f1f1!important;
}
.cardProduto:hover{
    transform: scale(0.95);
}
