.btnSim{
    font-family: 'Jacques Francois'!important;
    font-style: normal;
    border-radius: 20px!important;

    color: #B6917B!important;
    font-size: 20px!important;
}

.btnNao{
    font-family: 'Jacques Francois'!important;
    font-style: normal;
    border-radius: 20px!important;

    color: #B6917B!important;
    font-size: 20px!important;
}