.containerCategoria {
    display: column!important;
    background-image: url("https://i.imgur.com/rQq9STi.png");
    background-position: center;
    height: 100vh;
}

.caixaCategoria {
    width: 70vw;
    height: 455px;
    margin-bottom: 10vh;
    margin-left: 18vh;
    justify-content: flex-end;
    padding-top: 1px!important;
    text-align: center;
    mix-blend-mode: normal;
    background: rgba(201, 163, 142, 0.7);
    border-radius: 10px;
}

.tituloCategoria {
    font-family: 'Jacques Francois'!important;
    margin: 20px 0px 20px 0px!important;
    color: #A64208 !important;
    height: 55px!important;
    
}

.subtituloCategoria {

    margin: 20px 0px 10px 7vw!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;

    color: #A64208;
}
.subtituloCategoria2 {

    margin: 20px 0px 20px 7vw!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;

    color: #A64208;
}
.nomeCategoria {
    width: 56vw;
    height: 55px;

    justify-content: center;

    background: #f1f1f1 !important;
    mix-blend-mode: screen;
    border-radius: 3px;

}

.descricaoCategoria {
    width: 56vw;
    height: 130px;

    justify-content: center;

    background: #f1f1f1 !important;
    mix-blend-mode: screen;
    border-radius: 3px;

}

.btnCategoria {
    font-family: 'Jacques Francois'!important;
    font-style: normal;

    margin-top: 30px!important;
    border-radius: 20px!important;

    width: 217px;
    height: 62px;

    color: #B6917B!important;
    font-size: 20px!important;
}