.containerProduto {
    display: column!important;
    background-image: url("https://i.imgur.com/rQq9STi.png");
    background-position: center;
    height: 100vh;
}

.caixaProduto {
    width: 70vw;
    height: 525px;
    margin-bottom: 10vh;
    margin-left: 18vh;
    background: rgba(201, 163, 142, 0.7);
    mix-blend-mode: normal;
    border-radius: 10px;

}

.titulosCadastroCategoria{
    display:flex;
}
.titulosCadastroCategoria2{
    display:flex;
}
.titulosCadastroCategoria3{
    display:flex;
}

.tituloProduto {
    font-family: 'Jacques Francois'!important;
    margin: 20px 0px!important;
    color: #A64208 !important;
}

.titulos1{
    display: flex;
    padding-top: 30px;
}

.subtituloProduto {
    padding: 0px 0px 0px 35px!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;

    color: #A64208;
}

.subtituloProduto2 {
    padding: 0px 0px 0px 445px!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: center;

    color: #A64208!important;
}
.subtituloProduto3 {
    padding: 0px 0px 0px 35px!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;
    
    color: #A64208;
}
.subtituloProduto4 {
    padding: 0px 0px 0px 160px!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;

    color: #A64208;
}
.subtituloProduto5 {
    padding: 0px 0px 0px 245px!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;

    color: #A64208;
}
.subtituloProduto6{
    padding: 20px 0px 0px 35px!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;

    color: #A64208;
}
.subtituloProduto7{
    padding: 20px 0px 0px 180px!important;

    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px!important;
    line-height: 33px!important;
    text-align: left;

    color: #A64208;
}

.selecaoCategoria{
    font-family: 'Jacques Francois'!important;
    font-style: normal;
    font-size: 25px!important;
    font-weight: 400;
    color: #A64208!important;
    margin-left: 50px;
    margin-top: 20px;
}

.nomeProduto {

    margin-left: 35px !important;
    width: 500px;

    background: #f1f1f1 !important;
    border-radius: 3px;
}
.tamanhoProduto{
    margin-left: 10px;
    width: 350px;
}

.quantidadeProduto {
    width: 209px;
    height: 56px;
    margin: 20px 30px 0px 35px!important ;

    background: #f1f1f1 !important;
    border-radius: 3px;
}
.fotoProduto {
    width: 209px;
    height: 56px;
    margin: 20px 19px 0px 35px!important ;

    background: #f1f1f1 !important;
    border-radius: 3px;
}

.precoProduto {
    width: 209px;
    height: 56px;
    margin: 20px 15px 0px 62px!important ;

    background: #f1f1f1 !important;
    border-radius: 3px;
}
.categoriaProduto {
    margin: 20px 0px 0px 37px!important ;
    width: 209px!important;
    height: 56px !important;
}
.subCategoria {
    margin-left: 37px!important;
}


.lojaProduto {
    margin-left: 53px !important;
    width: 500px;
    height: 56px;
    margin-top: 25px !important;

    background: #f1f1f1 !important;
    border-radius: 3px;
}

.btnProduto {
    font-family: 'Jacques Francois'!important;
    font-style: normal;

    width: 217px;
    height: 62px;
    margin: 30px 0px 0px 330px!important;
    border-radius: 20px!important;

    color: #B6917B!important;
    font-size: 20px!important;
}